name: Release
on:
  push:
    tags: ["v*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - name: Install jekyll
        run: gem install jekyll -v 4.0.0
      - name: Install GPG
        uses: olafurpg/setup-gpg@v2
      - name: Check/Compile/Test
        run: sbt check
      - name: Release
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        run: sbt mimaReportBinaryIssues ci-release
      - name: Publish Microsite
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${DEPLOY_KEY}"
          git config --global user.email "janecek@avast.com"
          git config --global user.name "scala-server-toolkit bot"
          sbt site/publishMicrosite
